fastapi
pydantic
dotenv
gitpython
langchain-text-splitters
langchain-community
langchain-core
crewai
crewai-tools
langchain-anthropic
langchain
langchain-openai
tavily-python
langchain_google_vertexai
litellm